header {
  display: flex;
  justify-content: space-between;
  border-bottom: $all-border-style;
  padding: $header-padding-x $header-padding-y;

  nav {
    display: flex;
    @extend .header-btn-style;
  }
}
