main {
  width: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: $all-border-style;
  border-radius: $border-radius-base;
  padding: $header-padding-y 0;
  margin-top: 100px;

  form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > a,
    > label {
      align-self: start;
      text-decoration: none;
      color: $primary-color;
      margin: 10px 0;
    }
    > label {
      color: $gray;
    }
    > input {
      width: $main-btn-width;
      outline: none;
      color: $white;
      background-color: transparent;
      border-color: transparent;
      border-bottom: $all-border-style;
    }

    @extend .main-btn-style;
  }
}
