@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}
//TODO feedback but-variant -> btn-variant/button-variant
@mixin but-variant($color, $bg-color, $border-coo, $btn-width) {
  width: $btn-width;
  outline: none;
  margin: 10px 5px;
  color: $color;
  background-color: $bg-color;
  border-radius: $btn-border-radius;
  border: $border-size solid $border-coo;
}
